DJANGO_ENV=production
DJANGO_DEBUG=false
DJANGO_SECRET_KEY=replace-with-a-long-random-secret-key
DJANGO_ALLOWED_HOSTS=skybytedevelopers.com,www.skybytedevelopers.com,64.227.147.48
DJANGO_CSRF_TRUSTED_ORIGINS=https://skybytedevelopers.com,https://www.skybytedevelopers.com
DJANGO_SECURE_SSL_REDIRECT=false
DJANGO_SECURE_HSTS_SECONDS=0
DJANGO_SECURE_HSTS_INCLUDE_SUBDOMAINS=false
DJANGO_SECURE_HSTS_PRELOAD=false


# Email Configuration
EMAIL_BACKEND=django.core.mail.backends.smtp.EmailBackend
EMAIL_HOST=smtp.gmail.com
EMAIL_PORT=587
EMAIL_USE_TLS=True
EMAIL_HOST_USER=info@skybytedevelopers.com
EMAIL_HOST_PASSWORD=dblhroyqaqmmfxfg
DEFAULT_FROM_EMAIL=info@skybytedevelopers.com
SERVER_EMAIL=info@skybytedevelopers.com

# Local Docker database
DB_ENGINE=django.db.backends.mysql
DB_NAME=frinew2025data
DB_USER=root
DB_PASSWORD=FRI@2018ss
DB_HOST=db
DB_PORT=3306

NGINX_HTTP_PORT=80
GUNICORN_WORKERS=3
GUNICORN_TIMEOUT=120